.banner {
    padding-top: 160px;
    padding-bottom: 140px;
    background-image: url(../img/banner-bg-effect.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    @include lg {
        padding-bottom: 100px;
    }
    @include mmd {
        padding-bottom: 100px;
        padding-top: 150px;
        background-size: 100%;
    }
    @include sm {
        padding-top: 120px;
    }
    &-content {
        margin-bottom: 64px;
        @include lg {
            margin-bottom: 50px;
        }
        @include mmd {
            margin-bottom: 40px;
        }
        & h1 {
            font-size: 80px;
            line-height: 100%;
            letter-spacing: 2.32px;
            text-transform: uppercase;
            margin-bottom: 20px;
            @include lg {
                font-size: 70px;
            }
            @include mmd {
                font-size: 60px;
            }
            @include sm {
                font-size: 50px;
                margin-bottom: 24px;
            }
            @include ssm {
                font-size: 38px;
            }
        }
        & p {
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0.64px;
            @include md {
                font-size: 22px;
            }
            @include sm {
                font-size: 20px;
            }
            @include ssm {
                font-size: 18px;
            }
        }
    }
    & .img {
        margin-bottom: 44px;
        @include lg {
            margin-bottom: 40px;
        }
        @include mmd {
            margin-bottom: 30px;
        }
        & img {
            max-width: 560px;
            @include lg {
                max-width: 500px;
            }
            @include md {
                max-width: 420px;
            }
            @include sm {
                max-width: 250px;
            }
        }
    }
    & .btn {
        margin-bottom: 60px;
        padding: 32px 85.5px;
        font-size: 20px;
        letter-spacing: 1px;
        @include lg {
            padding: 26px 62.5px;
        }
        @include mmd {
            padding: 26px 62.5px;
        }
        @include sm {
            margin-bottom: 40px;
        }
    }
    & .token-wrap {
        max-width: 1030px;
        &-p {
            @include font-24;
            line-height: 120%;
            letter-spacing: 0.48px;
            text-transform: uppercase;
            margin-bottom: 24px;
            @include lg {
                padding-left: 115px;
            }
            @include mmd {
                padding-left: 50px;
            }
        }
        & .token {
            padding: 28.5px 83.66px 28.5px 34.34px;
            border: 6px solid #FFF;
            border-radius: 120px;
            @include lg {
                margin: 0 auto;
                width: max-content;
                border-width: 4px;
                padding: 22px 40px;
            }
            @include mmd {
                margin: 0 auto;
                width: max-content;
                border-width: 3px;
                padding: 22px 40px;
            }
            @include sm {
                width: 100%;
                overflow: hidden;
                padding: 18px 22px;
            }
            & p {
                font-size: 36px;
                line-height: 120%;
                letter-spacing: 0.72px;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                margin-bottom: 0;
                @include xl {
                    font-size: 30px;
                }
                @include lg {
                    font-size: 28px;
                }
                @include md {
                    font-size: 24px;
                }
                @include sm {
                    font-size: 10px;
                }
            }
            & span {
                font-size: 25px;
                line-height: 120%;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                @include xl {
                    font-size: 23px;
                }
                @include lg {
                    font-size: 22px;
                }
                @include mmd {
                    font-size: 20px;
                }
                @include sm {
                    font-size: 16px;
                }
            }
            & button {
                --size: 100px;
                width: var(--size);
                height: var(--size);
                border-radius: 100%;
                border: 4px solid $white;
                background-color: $bg;
                color: $white;
                font-size: 40px;
                position: absolute;
                top: 0;
                right: -70px;
                @include transition;
                @include lg {
                    --size: 85px;
                    font-size: 34px;
                    border-width: 2px;
                }
                @include mmd {
                    --size: 73px;
                    font-size: 34px;
                    border-width: 2px;
                    right: -1px;
                }
                @include sm {
                    --size: 56px;
                    font-size: 20px;
                }
                &:hover {
                    background-color: $primary;
                }
            }
        }
    }
}

.js-tilt-glare-inner {
    background: none !important;
}