.footer {
    background-color: #121212;
    padding: 40px 0;
    @include sm {
        padding: 30px 0;
    }
    & .logo {
        max-width: 430px;
        @include xl {
            max-width: 250px;
        }
        @include lg {
            max-width: 150px;
        }
    }
    & p {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: #AEB2BB;
        max-width: 38%;
        text-align: center;
        font-family: $font-2;
        @include lg {
            max-width: 50%;
        }
        @include md {
            max-width: 50%;
            font-size: 12px;
        }
        @include sm {
            max-width: 100%;
        }
    }
    & .social-list {
        @include sm {
            width: 100%;
            justify-content: center;
        }
    }
}